h1 {
	color:#DD444C;
	background-color:gold;
	margin: 1cm;
}

.title-box{
	color:tomato;

	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:44px;
	font-weight: normal;

	/* This is just a way of doing the same thing on one line */
	/* font: bold 44px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

	border-color:wheat;
	border-width: 1cm;
	border-style: ridge;
}

.text-1{
}

.container{
	line-height: 50px;

	border-color: teal;
	border-width: 6px;
	border-style:dashed;
	border-right-width: 60px;

	padding:12px;
	
	width: 75%;
	margin: auto;
}

* {
	/* margin:0;
	padding:0; */
	/* background-color: turquoise; */
}

body {
	/* Source: https://en.wikipedia.org/wiki/Cockapoo#/media/File:Cockapoo_apricot_standing.jpg */
	background-image: url("../assets/dog.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
}

.thinking h1{
	text-decoration:underline;
	text-decoration-color: darkolivegreen;
}

.states h2 {
	text-align: center;
}

.states ul {
	/* Source: https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/bicycle.png */
	list-style-image: url("../assets/bicycle.png");
}

.states {
	border:10px;
	border-style: inset;
	border-color: dodgerblue;
	padding: 10px;
	border-radius: 15px;
}

.button {
	background-color:black;
	color:white;
	padding: 10px 15px;
	border: 1px solid gray;
	text-decoration: none;

	width: 33.3%;
	display:block;
	float:left;
	box-sizing: border-box;
}

.button:hover {
	background-color:red;
}

a:visited {
	color:blue;
}

.navigation-bar {
	position: relative;

	top:100px;
	left: 200px;

	width:70%;
}